body{
    background-color: indigo;
    text-align: center;
    margin: 0px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}
h1:hover{
    cursor: default;
}
span{
    color: cadetblue;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    border-radius: 8px;
}
span:hover{
    color: blue;
    background-color: cadetblue;
    font-size: 34px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: default;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: chocolate;
    padding-right: 5px;
}
p:hover{
    color: burlywood;
    transition-duration: 0.4s;
    cursor: default;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: chocolate;
    padding-right: 5px;
}
a:hover{
    color: chartreuse;
    transition-duration: 0.4s;
    cursor: pointer;
}
a:active{
    color: black;
    transition-duration: 0s;
    cursor: wait;
}
img[src="Christmas Tree.png"]:hover{
    width: 292px;
    height: 257px;
    transition-duration: 0.4s;
    cursor: default;
}
img[src="Modern Christmas Sweater.png"]:hover{
    width: 292px;
    height: 190px;
    transition-duration: 0.4s;
    cursor: default;
}
img[src="Candy Cane.png"]:hover{
    width: 292px;
    height: 257px;
    transition-duration: 0.4s;
    cursor: default;
}
img[src="Christmas Ornament.png"]:hover{
    width: 292px;
    height: 190px;
    transition-duration: 0.4s;
    cursor: default;
}
img[src="Christmas Sock.png"]:hover{
    width: 292px;
    height: 292px;
    transition-duration: 0.4s;
    cursor: default;
}
footer{
    background-color: brown;
    height: 362px;
    margin-top: 0px;
    margin-right: 0px;
    text-align: right;
}
footer:hover{
    cursor: default;
    background-color: rgb(117, 11, 11);
}
